@import './variables.scss';
@import './mixin.scss';

html,body #app {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
  text-align: center;
  height:100%;
}

html,body{
    height:100%;
    padding:0;
    margin:0;
}